<table class="striped tight">
        <thead><tr>
        <th>Position</th>
        <th>Name</th>
        <th>Points</th>
    </tr></thead>
    <tbody><tr>
        <td>1</td>
        <td>Jane Smith</td>
        <td>49</td>
    </tr><tr>
        <td>2</td>
        <td>Jim Johns</td>
        <td>46</td>
    </tr><tr>
        <td>3</td>
        <td>Lesley Sherwood</td>
        <td>42</td>
    </tr><tr>
        <td>3</td>
        <td>Isaiah Kemp</td>
        <td>42</td>
    </tr><tr>
        <td>5</td>
        <td>Niamh O'Connor</td>
        <td>40</td>
    </tr></tbody>
</table>