<div class="menu-edge">
    <h3>Menu</h3>
    <ul class="edge-nav">
    <li><a href="leaderboard.html"><i class="fa fa-list"></i> Leaderboard</a></li>
    <li><a href="#"><i class="fa fa-bullseye"></i> Missions</a>
        <ul>
            <li><a href="missions/mission1.html">Mission 1</a></li>
            <li><a href="#">Mission 2</a></li>
            <li><a href="#">Mission 3</a></li>
        </ul>
    </li>
    <li><a href="/100days"><i class="fa fa-calendar"></i> First 100 days</a>
    </li>
    <li><a href="#"><i class="fa fa-info-circle"></i> About us</a>
        <ul>
            <li><a href="#"><i class="fa fa-info-circle"></i> Our commitments</a></li>
            <li><a href="#"><i class="fa fa-info-circle"></i> Our customers</a></li>
            <li><a href="#"><i class="fa fa-info-circle"></i> Our expectations</a></li>
        </ul>
    </li>
    
    <li><a href="#"><i class="fa fa-inbox"></i> Systems and processes</a>
        <ul>

            {% for item in site.systems_info %}
            <li><a href="/systems#{{ item.title | url_encode | downcase }}">{{ item.title }}</li></a>
            {% endfor %}

        </ul>
    </li>
    
    <li><a href="#"><i class="fa fa-legal"></i> Legal standards</a>
        <ul>
            <li><a href="#"><i class="fa fa-legal"></i> Bribery</a></li>
            <li><a href="#"><i class="fa fa-legal"></i> Health &amp; Safety</a></li>
            <li><a href="#"><i class="fa fa-legal"></i> Treating Customers Fairly</a></li>
        </ul>
    </li>
    </ul>
</div>