<div class="menu-edge">
    <h3>Menu</h3>
    <ul class="edge-nav">
    <li><a href="#"><i class="fa fa-thumbs-up"></i> Recommended</a></li>
    <li><a href="#"><i class="fa fa-cubes"></i> My Library</a></li>
    
    <li><a href="#"><i class="fa fa-history"></i> Last added</a>
    <li><hr class="alt1"/></li>
    <li><a href="#"><i class="fa fa-plus"></i> Add list</a></li>
    <li><a href="#"><i class="fa fa-list-ol"></i> List 1</a></li>
    <li><a href="#"><i class="fa fa-list-ol"></i> List 2</a></li>
        
    <li><hr class="alt1"/></li>
    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
    <li><a href="#"><i class="fa fa-question-circle"></i> Help and feedback</a></li>
    </ul>
</div>