---
layout: default
---
<article class="post">

  <header class="post-header">

    <ul class="breadcrumbs">
        <li><a href="/sfia">SFIAplus</a></li>
        <li><a href="">{{ page.category }}</a></li>
        <li><a href="">{{ page.subcat }}</a></li>
        <li><a href="{{ page.code }}">{{ page.skill }}</a></li>
    </ul>
    
  </header>

  <div class="post-content">

    

    <h2>{{ page.skill }}</h2>
   
    {{ content }}

    <h3>Levels</h3>

    {% for p in site.pages %}
   
        {% if p.sfia == true and p.code == page.code %}
            <p><a href="{{ p.permalink }}">Level: {{ p.level }}</a></p>
        {% endif %}
    {% endfor %}
    

    </div>

    





</article>
