---
layout: default
---
<article class="post">

  <header class="post-header">

    <ul class="breadcrumbs">
        <li><a href="/sfia">SFIAplus</a></li>
        <li><a href="">{{ page.category }}</a></li>
        <li><a href="">{{ page.subcat }}</a></li>
        <li><a href="/sfia/{{ page.code }}">{{ page.skill }}</a></li>
        <li><a href="">Level: {{ page.level }}</a></li>
    </ul>
   
  </header>

  <div class="post-content">

    

    <h2>{{ page.skill }} - level {{ page.level }}</h2>
   
    <table>
        <tr>
            <td>Category: {{ page.category }}</td><td>Sub-category: {{ page.subcat }}</td>
        </tr>
        <tr>
            <td>Code: {{ page.code }}</td>
            <td>Related: {% for rel in page.related %}
                <a href="/{{ rel }}">{{ rel }}</a>&nbsp;
                {%  endfor %}
            </td>
        </tr>
    </table>

     <div class="col_12">
        <h3>Background</h3>
        <p>{{ page.background }}</p>
    </div>

    <div class="col_4">
        <h3>Overview</h3>
        <p>{{ page.overview }}</p>
    </div>
    <div class="col_4">
        <h3>Training</h3>
        <p>{{ page.training }}</p>
    </div>
    <div class="col_4">
        <h3>Careers</h3>
        <p>{{ page.careers }}</p>
    </div>

    <div class="col_4">
        <h3>Bodies</h3>
        <ul>
            {% for body in page.bodies %}
                <li><a href="{{ body.url }}" target="_blank">{{ body.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col_4">
        <h3>Standards</h3>
        <p>{{ page.standards }}</p>
    </div>
    <div class="col_4">
        <h3>Communities</h3>
        <p>{{ page.communities }}</p>
    </div>

    <div class="col_4">
        <h3>Publications</h3>
        <p>{{ page.publications }}</p>
    </div>

    <div class="col_4">
        <h3>Work activities</h3>
        <p>{{ page.work-activities }}</p>
    </div>

    <div class="col_4">
        <h3>Knowledge &amp; skills</h3>
        <p>{{ page.knowledge-skills }}</p>
    </div>

    <div class="col_4">
        <h3>Training activities</h3>
        <p>{{ page.training-activities }}</p>
    </div>

    <div class="col_4">
        <h3>Professional development</h3>
        <p>{{ page.professional-development }}</p>
    </div>

    <div class="col_4">
        <h3>Qualifications</h3>
        <p>{{ page.qualifications }}</p>
    </div>
   

    </div>

    

{{ content }}



</article>
