---
layout: default
---


     <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Category</th>
            <th>Sub-category</th>
            <th>Skill</th>
            <th>Code</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>

    
    
  
      {% for page in site.pages %}
        {% if page.sfia == true %}
          
            
            <tr>
                <td>{{ page.category }}</td>
                <td>{{ page.subcat }}</td>
                <td><a href={{ page.code }}>{{ page.skill }}</a></td>
                <td>{{ page.code }}</td>
                <td><a href='{{ page.url }}'>{{ page.level }}</a></td>               
            </tr>
              
            
          
        {% endif %}   <!-- resource-p -->
     
    

    
    {% endfor %}  <!-- cat -->
    </tbody>
</table>



